---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p>I have 8 years of experience in programming. You can explore some of my more recent work on my <a href="https://github.com/dubascudes" target="_blank">GitHub</a> and this website.</p>

<p>The courses I traditionally offer include:</p>
<ul>
    <li>Introduction to Programming</li>
    <li>Introduction to Machine Learning</li>
    <li>Robotics</li>
    <li>Python</li>
    <li>Java</li>
    <li>C++</li>
    <li>AP Computer Science Principles</li>
    <li>AP Computer Science A</li>
</ul>

<p>If you don't see what you're looking for on that list, send me an email and we'll see what I can do. I can typically support students through any programming or computer science related course, from middle school through college.</p>

<p>If you have a specific course or project you need help with, please provide a few specifics so I know if I can effectively guide you through understanding the subject.</p>

<p>I offer sessions tailored to whatever my client needs. I typically only accept students from 6th grade onwards, but I am happy to accept any passionate student no matter their age or level of experience.</p>

<p>If you'd like, please schedule a free introduction with me below. Or, if you prefer, send me an email.</p>

<iframe src="https://calendly.com/willenglish" width="30%" height="30%" frameborder="0"></iframe>

<form
  action="https://formspree.io/f/xrgnkdyk"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>

<p style="font-style: normal;">My rates start at \$75/hour for clients who meet 1 hour per week, and \$60/hour for all other clients.</p>
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
