---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
I have 8 years of experience in programming. You can explore some of my more recent work on my github and this website.

The courses I traditionally offer include:
    Introduction to Programming
    Introduction to Machine Learning
    Python
    Java
    C++
    AP Computer Science Principles
    AP Computer Science A

If you don't see what you're looking for on that list, send me an email and we'll see what I can do. I can support students through any programming or computer science related course, from middle school through college.
If you have a specific course or project you need help with, please provide a few specifics so I know if I can effectively guide you through understanding the subject.
I offer sessions tailored to whatever my client needs.
I typically only accept students from 6th grade onwards, but I am happy to accept any passionate student no matter their age or level of experience.
My rates start at $75/hour for clients who meet 1 hour per week, and $60/hour for all other clients.

Schedule a free introduction with me at the link below!

<iframe src="https://calendly.com/willenglish" width="800" height="600" frameborder="0"></iframe>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
